#cloud-config
package_update: true
package_upgrade: true

packages:
  - ca-certificates
  - curl
  - apt-transport-https
  - lsb-release
  - gnupg

runcmd:
  # Azure CLI
  - curl -sL https://aka.ms/InstallAzureCLIDeb | bash

  # kubectl
  - curl -LO https://dl.k8s.io/release/$(curl -Ls https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl
  - install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl

  # helm
  - curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
